<!-- TOGGLE: ALL / MY FAVS -->
<app-button-toggle (toggle)="changeToggle($event)"></app-button-toggle>


<div class="container">
	<!-- SELECT FILTER -->
	<div name="categories" class="dropdownCategories" (click)="showList()">
		<div class="categoriesDefault-container" >
			<span class="categories" id="categoriesDefault"> {{selected}}  	</span>
			<p><i class="arrow down"></i></p>
		</div>
	
	</div>
	<div class="items-container"
	[ngClass]="{'d-none': !showCategories}">
		<div class="categorie-container" 
		*ngFor="let cat of categories" 
		(click)="changeSelected(cat.name)">
			<img src="assets/{{cat.fileName}}.png" 
			[alt]="cat.fileName"			
			class="categorieImg">			
			<span class="categories categoriesValue">		
				{{cat.name}}
			</span>		
		</div>
	
	</div>
	<div class="spinner-container" *ngIf="loading && !newEntry">
		<div class="spinner"></div>
	</div>
	
	<!-- NEWS -->
	<div class="news-container" >
		<div infiniteScroll
		[infiniteScrollDistance]="2"
		[infiniteScrollThrottle]="1000"
		(scrolled)="onScroll()"
		class="infinite-scroll news-container">
		<div *ngIf="this.toggle === 'all'" class="news-container">
			<a class="new" *ngFor="let new of news" 
			id="new-{{new.objectID}}" 		
			>
				<div class="title-container">
					<div class="time-container">
						<img src="assets/clock.svg" alt="time" class="clock">
						<span class="time"> {{ relativeDays(new.created_at) }} by <strong>{{new.author}}</strong>  </span>
					</div>
					<div class="title">			
						{{new.story_title ?  new.story_title : new.title}}				
					</div>
				</div>
			
				<div class="like-container"
				id="likeContainer-{{new.objectID}}">	
					<div class="like-button"
					(click)="like(new)"
					id="like-{{new.objectID}}"
					[ngClass]="{'like': new.like,
								'no-like': !new.like}">
					</div>						
				</div>
			</a>	
		</div>
			

		<!-- MY FAVES -->
		<div *ngIf="this.toggle === 'favs'" class="news-container">
			<a class="new" *ngFor="let new of favs" 
			id="new-{{new.objectID}}" 		
			>
				<div class="title-container">
					<div class="time-container">
						<img src="assets/clock.svg" alt="time" class="clock">
						<span class="time"> {{ relativeDays(new.created_at) }} </span>
					</div>
					<div class="title">			
						{{new.story_title ?  new.story_title : new.title}}				
					</div>
				</div>
			
				<div class="like-container"
				id="likeContainer-{{new.objectID}}">	
					<div class="like-button"
					(click)="like(new)"
					id="like-{{new.objectID}}"
					[ngClass]="{'like': new.like,
								'no-like': !new.like}"
								>
					</div>				
				</div>
			</a>	
		</div>

		<div *ngIf="this.toggle === 'favs' && favs.length === 0" class="no-favs">
			You have no favorite news!			
		</div>

			
		</div>
		<div *ngIf="!finished && !loading && toggle === 'all' && !newEntry" class="spinner"></div>
		<div *ngIf="finished">
			There's no news left...
		</div>
	</div>
	
	
	
</div>


